{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Doctor's appointment</title>
    <link rel="stylesheet" href="{% static 'doctors/css/index.css' %}">
</head>
<body>
    <h1 class="appointment-title">Doctor's appointment: {{ doctor_name }}</h1>
    <h2 class="schedule-title">Schedule:</h2>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <ul class="schedule-list">
        {% for schedule in shedule %}
            <li class="schedule-item">Date: {{ schedule.date }}. <br> The beginning of the reception: {{ schedule.start_time }}. <br> End of reception:{{ schedule.end_time }}. <br> Available slots: {{ schedule.available_slots }}</li>
        {% endfor %}
    </ul>

    <form id="appointment-form" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Sign up</button>
    </form>
</body>
</html>
